.App {
  text-align: left;
  padding: 10px 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#intro, #setup, #game, #summary, #scores {
  max-width: 1200px;
  /* display: flex; */
  text-align: center;
  justify-content: center;
  /* background-color: yellow; */
}
#intro > * {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
#setup > div, #setup > form {
  max-width: 600px;
  margin: auto;
  display: block;
  /* background-color: gray; */
  text-align: left;
}
.error {
  color: red;
  display: block;
}

ul.game-tiles {
  display: flex;
  justify-content: center;
  list-style: none;
  text-align: center;
}
ul.game-tiles li {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}
.game-tiles img {
  max-width: 512px;
  max-height: 512px;
}

.voteResult {
  /* TODO style the div showing result after each vote */
}