.App {
  text-align: left;
  padding: 10px 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

section#game {
  text-align: center;
  max-width: 1200px;
}

ul.game-tiles {
  display: flex;
  justify-content: center;
  list-style: none;
  text-align: center;
}
ul.game-tiles li {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}
.game-tiles img {
  max-width: 400px;
  max-height: 400px;
}
