.App {
  text-align: left;
  padding: 10px 20px;
  font-size: calc(10px + 1vmin);
}

section, section > * {
  position: relative;
}

#intro, #setup, #game, #summary, #scores {
  max-width: 1200px;
  /* display: flex; */
  text-align: center;
  justify-content: center;
  /* background-color: yellow; */
}
#intro > *, #setup > *, #summary > *, #scores > * {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
#intro > a {
  display: block;
  text-align: center;
}
#setup > form {
  display: block;
}
.error {
  color: red;
  display: block;
  margin-bottom: 0.5em;
}

#scores > table {
  width: 100%;
  font-size: 90%;
}
table caption {
  font-weight: bold;
  font-size: 115%;
  text-align: left;
}
.footnote {
  font-style: italic;
  font-size: 80%;
}

.colophon {
  font-size: 80%;
  margin-top: 2em;
}

label, input {
  margin-bottom: 1rem;
}
label {
  display: inline-block;
}
input {
  position: absolute;
  right: 20px;
  font-size: 100%;
}
input[type=text] {
  width: 50%;
}
input[type=number] {
  width: 4em;
}

button {
  width: max-content;
  font-size: 100%;
  margin: auto;
}

ul.game-tiles {
  display: flex;
  justify-content: center;
  list-style: none;
  text-align: center;
}
ul.game-tiles li {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}
.game-tiles img {
  max-width: 512px;
  max-height: 512px;
}

